<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dmego Home">
    <meta name="keywords" content="Dmego,Homepage">
    <meta name="author" content="Dmego">
    <title>木木的主页</title>
    <link rel='stylesheet' type='text/css' href='https://cdn.webfont.youziku.com/webfonts/nomal/123918/33195/5d21f88af629d8080c5960eb.css' />
    <link rel="stylesheet" type="text/css" href="../static/css/vno.css">
    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <link rel="icon" href="../favicon.ico">
</head>

<body>
    <span class="mobile btn-mobile-menu">
        <i class="social iconfont icon-list btn-mobile-menu__icon"></i>
        <i class="social iconfont icon-angleup btn-mobile-close__icon hidden"></i>
    </span>
    <header id="panel" class="panel-cover">
        <div class="panel-main">
            <div class="panel-main__inner panel-inverted">
                <div class="panel-main__content">
                    <div class="ih-item circle effect right_to_left">            
                        <a href="#" title="" class="blog-button">
                            <div class="img"><img src="https://sf1-ttcdn-tos.pstatp.com/img/user-avatar/2a1335be584faf3ff70dfbd0969c9719~300x300.image" alt="img" class="js-avatar iUp profilepic"></div>
                            <div class="info iUp">
                                <div class="info-back">
                                    <h2>

                                            木木
                                            最帅
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- <a href="#" title="Dmego Home" class="profilepic">
                        <img src="./img/logo2.jpg" width="80" alt="Dmego`s logo" class="js-avatar iUp show" />
                    </a> -->
                    <h1 class="panel-cover__title panel-title iUp">
                        <a href="#" title="Dmego Home">木木</a>
                    </h1>
                    <p class="panel-cover__subtitle panel-subtitle iUp">奇迹在此发生!</p>
                    <hr class="panel-cover__divider iUp" />
                    <p id="description" class="panel-cover__description iUp">如何得与凉风约，不共尘沙一并来!
                        <br/>
                        <strong>-「中牟道中」</strong>
                    </p>
                    <div class="navigation-wrapper iUp">
                        <div>
                            <nav class="cover-navigation cover-navigation--primary">
                                <ul class="navigation">
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6936786316155846693" class="blog-button" target="_blank">synchronized</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6936405138022072334" class="blog-button" target="_blank">线程安全<br/></a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6930106511725166599" class="blog-button" target="_blank">volatile</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="hhttps://juejin.cn/post/6923872053959327758" class="blog-button" target="_blank">线程池</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6923005037589299214" class="blog-button" target="_blank">Dockerfile命令<br/></a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="hhttps://juejin.cn/post/6921906580577320973" class="blog-button" target="_blank">Docker命令</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6921299013769625607" class="blog-button" target="_blank">分布式限流</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6918593944431362061" class="blog-button" target="_blank">搭建ELK</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6916065432185077773" class="blog-button" target="_blank">延迟队列<br/></a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6915648411643412488" class="blog-button" target="_blank">JVM调优</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6913478704815407112" class="blog-button" target="_blank">垃圾回收算法</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6912462666187407367" class="blog-button" target="_blank">分布式事务<br/></a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6910880043980259342" class="blog-button" target="_blank">B-Tree和B+Tree</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/post/6910202106561626119" class="blog-button" target="_blank">MySQL优化</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="iUp">
                            <nav class="cover-navigation navigation--social">
                                <ul class="navigation">
                                    <li class="navigation__item">
                                        <a href="https://github.com/linying11520/mumu-mall" title="github" target="_blank">
                                            <i class='social iconfont icon-github'></i>
                                            <span class="label">github</span>
                                        </a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="https://juejin.cn/user/3034307825249677" title="juejin" target="_blank">
                                            <i class='social iconfont icon-juejin'></i>
                                            <span class="label">juejin</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-cover--overlay cover-slate"></div>
        </div>
        <!-- <div class="beian iUp">
            <a class="icp" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">XXX</a>
            <a class="gwab" href="http://www.beian.gov.cn/portal/recordQuery" target="_blank">XXX</a>
        </div> -->

        <div class="remark iUp">
            <a th:text="'今日访问量'+ ${todayCount}+ ' ' +
             '总访问量'+ ${count}" class="power"></a>
        </div>
    </header>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/fetch.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>

</html>